include README.md
include LICENCE
include QUICKSTART.md
include pyproject.toml
include setup.py
recursive-include src *.py
recursive-include docs *.md *.rst
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
exclude .env
exclude .env.example
exclude .gitignore
prune examples
prune tests
prune q_store.egg-info
